/* ================================
         common css start
   ================================ */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

.container {
    width: 1340px;
    margin: 0 auto;

}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.sub-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-break: 54px;
    color: #707070;

}

.pragraph {
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    font-size: 20px;
    font-weight: 500;
    width: 500px;
    line-height: 32px;
}

.gradient-btn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    padding: 15px 30px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;

}


/* ================================
         common css end
   ================================ */

/* ================================
         header css start
   ================================ */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar .logo {}

.navbar .logo a {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    display: inline-block;
    color: #000;
    font-size: 32px;
    font-weight: 600;

}

.navbar .logo a span {
    color: green;
}

.navbar .nav-iteam {}

.navbar .nav-iteam ul li {
    display: inline-block;
    margin-left: 15px;
}

.navbar .nav-iteam ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 500;



} */


/* ================================
         header css end
   ================================ */
/* ================================
         banner css start
   ================================ */

#banner-part {}

#banner-part .banner-text {
    padding-top: 160px;
    width: 50%;
}

#banner-part .banner-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    color: #575757;
    ;
    margin-bottom: 40px;


}

#banner-part .banner-text h1 span {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

#banner-part .banner-text p {
    width: 520px;
}

#banner-part .banner-text a {
    margin-top: 70px;
}

#banner-part .banner-image {
    width: 600px
}

#banner-part .banner-image img {
    width: 100%;
}

/* ================================
         banner css end
   ================================ */

/* ================================
         about-us css start
   ================================ */
#about-us {
    background: url(../images/shapes/7.png) no-repeat center;
    background-size: cover;
    height: 538px;
    padding-top: 60px;
    margin-top: 100px;
}

#about-us .about-main .about-image {
    width: 50%;
    padding-left: 150px;
    

}

#about-us .about-main .about-image img {
    width: 338px;
    height: 536px;
    
}
#about-us .about-main .about-text{
    width: 50%;
    padding-top: 80px;
}
#about-us .about-main .about-text h2{
    margin-bottom: 40px;
}
#about-us .about-main .about-text p{
    font-size: 18px;
    color: #18191F;;
}
#about-us .about-main .about-text a{
    margin-top: 90px;
}
/* ================================
         about-us css end
   ================================ */